<h1>Users#show</h1>

<div class="row">
  <div class="col<%= "-md-8" if correct_user %>">
    <h3>My Goals</h3>
    <% @user.goals.each do |g| %>
      <div class="card my-2">
        <div class="card-body">
          <h5 class="card-title"><%= g.description %></h5>
          <p class="card-text text-muted">Created_at: <%= g.created_at %></p>
          <div class="progress mb-3">
            <% progress = g.progress_percent %>
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                style="width: <%= progress %>%;" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100">
              <%= progress %>%
            </div>
          </div>
          <%= link_to "Show", goal_path(g), class: "btn btn-primary" %>
          <% if correct_user %>
            <%= link_to "Edit", edit_goal_path(g), class: "btn btn-primary" %>
            <%= link_to "Delete", goal_path(g), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if correct_user %>
    <div class="col-md-4">
      <h3>Add new goals</h3>
      <%= render 'goals/new' %>
    </div>
  <% end %>

</div>
