<h3 id="comment_line">Comments</h3>
<% @goal.comments.each do |c| %>
  <div class="card my-2" id="comment_<%= c.id %>">
    <div class="card-body">
      <p class="my-0">
        <%= image_tag(get_gravatar_url(c.user.email), size: "30x30") %>
        <%= c.user.name %>
        <%= simple_format(c.body, class: "my-0") %>
      </p>
      <% if current_user&.owned_comment?(c) %>
        <%= link_to "Edit", edit_comment_path(c), class: "btn btn-primary" %>
        <%= link_to "Delete", comment_path(c), method: :delete, class: "btn btn-danger", remote: true %>
      <% end %>
    </div>
  </div>
<% end %>
