<h1>Goals#index</h1>

<h3>All Goals</h3>

<%= form_with url: root_url, method: :get, local: true, class: "input-group mb-2 col-md-6 ml-auto" do |f| %>
  <%= f.select :order, order_hash, { prompt: "Change order" }, class: "form-control" %>
  <%= f.submit "Change", class: "btn btn-outline-primary" %>
<% end %>

<% @goals.each do |g| %>
  <a href="<%= goal_path(g) %>" class="card-link">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          <%= image_tag(get_gravatar_url(g.user.email), size: 30) %>
          <%= render 'goals/achieve', g: g %>
          <%= g.description %>
        </h5>
        <div class="progress mb-3">
          <% progress = g.progress_percent %>
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
              style="width: <%= progress %>%;" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100">
            <%= progress %>%
          </div>
        </div>

        <%= render 'likes/show', g: g %>

      </div>
    </div>
  </a>
<% end %>

<%= paginate @goals,theme: 'twitter-bootstrap-4' %>
