<h1>Goals#index</h1>

<h3>All Goals</h3>
<% @goals.each do |g| %>
  <a href="<%= goal_path(g) %>" class="card-link">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= image_tag(get_gravatar_url(g.user.email), size: 30) %> <%= g.description %></h5>
        <div class="progress mb-3">
          <% progress = g.progress_percent %>
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
              style="width: <%= progress %>%;" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100">
            <%= progress %>%
          </div>
        </div>

      </div>
    </div>
  </a>
<% end %>

<%= paginate @goals,theme: 'twitter-bootstrap-4' %>
