<h1>Goals#show</h1>

<div class="row">
  <div class="col<%= "-md-8" if user_owned_goal? %>">

    <h3>Goal</h3>
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title"><%= @goal.description %></h5>
        <p class="card-text">
          Priority: <%= @goal.priority %> /
          <span class="text-muted">Created_at: <%= @goal.created_at %></span> /
          <span class="text-muted">Updated_at: <%= @goal.updated_at %></span>
        </p>
        <div class="progress mb-3">
          <% progress = @goal.progress_percent %>
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
              style="width: <%= progress %>%;" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100">
            <%= progress %>%
          </div>
        </div>
      </div>
    </div>

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-tasks-tab" data-toggle="tab" href="#nav-tasks" role="tab" aria-controls="nav-tasks" aria-selected="true">Tasks</a>
        <a class="nav-item nav-link" id="nav-comments-tab" data-toggle="tab" href="#nav-comments" role="tab" aria-controls="nav-comments" aria-selected="false">Comments</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-tasks" role="tabpanel" aria-labelledby="nav-tasks-tab">

        <h3>Tasks</h3>
        <% @goal.tasks.each do |t| %>
          <div class="card my-2">
            <div class="card-body">
              <h5 class="card-title my-0"><%= t.description %></h5>
              <p class="text-right text-muted my-0">Priority: <%= t.priority %></p>
              <div class="progress mb-3">
                <% progress = t.progress_percent %>
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                    style="width: <%= progress %>%;" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100">
                  <%= progress %>%
                </div>
              </div>
              <% if user_owned_goal? %>
                <%= link_to "Edit", edit_task_path(t), class: "btn btn-primary" %>
                <%= link_to "Delete", task_path(t), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
      <div class="tab-pane fade" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">

        <h3>Comments</h3>
        <% @goal.comments.each do |c| %>
          <div class="card my-2">
            <div class="card-body">
              <p class="my-0">user_id: <%= @comment_owned_user_id = c.user_id %><%= simple_format(c.body, class: "my-0") %></p>
              <% if user_owned_comments? %>
                <%= link_to "Edit", edit_comment_path(c), class: "btn btn-primary" %>
                <%= link_to "Delete", comment_path(c), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>

  </div>

  <% if user_signed_in? %>
    <div class="col-md-4">
      <% if user_owned_goal? %>
        <h3>Add new tasks</h3>
        <%= render 'tasks/new' %>
      <% end %>

      <h3 class="mt-3">Add new comments</h3>
      <%= render 'comments/new' %>
    </div>
  <% end %>

</div>
